<a href="https://colab.research.google.com/github/245ajk/BTE-320-Repository/blob/main/colab_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Rock, Papers, Scissors

In [ ]:
[ ]
import random
[ ]
pc_choice = random.choice(['Rock','Paper', 'Scissors'])
print('Select Rock, Paper, or Scissors')
user_choice = input()
Select Rock, Paper, or Scissors
Paper
[ ]
if user_choice ==  pc_choice:
  result = 'Tie'
elif user_choice == 'Rock' and pc_choice == 'Scissors' or user_choice == 'Paper' and pc_choice == 'Rock' or user_choice == 'Scissors' and pc_choice == 'Paper':
  result = 'Win'
else:
  result = 'Loss'

print('Your', user_choice, "vs Computer's", pc_choice)
print(result)

if result == 'Tie':
  pc_choice = random.choice(['Rock','Paper', 'Scissors'])
  print('Select Rock, Paper, or Scissors')
  user_choice = input()
Your Rock vs Computer's Scissors
Win
[ ]
while user_choice == pc_choice:
  result == 'Tie'
  pc_choice = random.choice(['Rock','Paper', 'Scissors'])
  print('Your', user_choice, "vs Computer's", pc_choice)
  print('Tie: Select Rock, Paper, or Scissors')
  user_choice = input()

if user_choice == 'Rock' and pc_choice == 'Scissors' or user_choice == 'Paper' and pc_choice == 'Rock' or user_choice == 'Scissors' and pc_choice == 'Paper':
  result = 'Win'
else:

Your Paper vs Computer's Paper
Tie: Select Rock, Paper, or Scissors
Rock
Your Rock vs Computer's Paper
Loss
[ ]

#Parking Garage

In [ ]:
for hour in range(1,9):
  price = (hour * 2.5)+5
  if price < 10:
    price = 10
  if price > 20:
    price = 20
  print ('Hours:', hour, '- $', price)

#Movie Theater Advertisement Dollars Spent

In [ ]:
 for i in range(0,201, 25):
  print(i, 10*(2*round(i**.5)))

#Leap Year

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year!")
else:
    print(f"{year} is not a leap year.")

Enter a year: 1900
1900 is not a leap year.

#Calculator - Feb 12

In [ ]:
while True:
  num1 = float(input('Enter first number: '))
  num2 = float(input('Enter second number: '))
  operator = input('Enter the operator:')


  if operator == 'break':
    break

  if operator == "+":
    answer = num1 + num2
# bc operators are all mutually exclusive, they can all be in one if statement and use elif
  elif operator == "-":
    answer = num1 - num2
  elif operator == "*":
    answer = num1 * num2
  elif operator == "/":
    answer = num1 / num2
  elif operator == "//":
    answer = num1 // num2
  elif operator == "**":
    answer = num1 ** num2
  elif operator == "%":
    answer = num1 % num2
  else:
    print('Invalid operator:', operator)
    continue
  print("Calculation:", answer)

#Calendar - Feb 21

In [ ]:
date = input("Enter Date: MM/DD/YYYY   ")
m = ['Jan', 'Feb', 'Mar','Apr','May','Jun','Jul','Aug', 'Sep','Oct','Nov','Dec']
M = m[int(d[0:2])-1]
D = d[3:5]
Y = d[-4:]
print("Month: ",M)
print("Day: ",D)
print("Year: ", Y)
print("Date: ", M, D,",", Y)

Enter Date: MM/DD/YYYY   02/24/2024
Month:  Feb
Day:  24
Year:  2024
Date:  Feb 24 , 2024

*** or:

In [ ]:
date = input("Year: MM/DD/YYYY ")

M = {
    '01': 'Jan',
    '02': 'Feb',
    '03': 'Mar',
    '04': 'Apr',
    '05': 'May',
    '06': 'Jun',
    '07': 'Jul',
    '08': 'Aug',
    '09': 'Sep',
    '10': 'Oct',
    '11': 'Nov',
    '12': 'Dec'
}

m = M[date[:2]]
d = int(date[3:5])
y = date[6:10]

if d > 31 or d <= 0:
    print('Error: Day out of range for month')
elif d > 30:
    if m in ['Apr', 'Jun', 'Sep', 'Nov']:
        print(f'Error: {m} only has 30 days')
    else:
        print('Month:', m)
        print('Day:', d)
        print('Year:', y)
elif d == 29:
    if m == 'Feb':
        if (int(y) % 4 == 0 and int(y) % 100 != 0) or (int(y) % 400 == 0):
            print('Month:', m)
            print('Day:', d)
            print('Year:', y)
        else:
            print(f'Error: {y} is not a leap year')
    else:
        print('Month:', m)
        print('Day:', d)
        print('Year:', y)
else:
    print('Month:', m)
    print('Day:', d)
    print('Year:', y)

#Characters in Strings - Feb 23

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for char in s1:
    if char in s2:
        print(char, 'appears in both strings.')

s1 = 'abcdefg'
s2 ='abdght'

for i in range(len(s1)):
  if s1[i] in s2:
    print(i)

a appears in both strings.
b appears in both strings.
d appears in both strings.
g appears in both strings.
0
1
3
6

#List

In [ ]:
L = []
number = int(input("Enter a value: "))

while number != 0:
  L.append (number)
  number= int(input("Enter a value: "))

print (L)

# Months Assignment - March 4

In [ ]:
months = {}

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]


for i in range(0,12):
  months[i+1] = names[i]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
for i in numbers:
  months[i] = names[i-1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

# Factorial - April 2

In [ ]:
def factR(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factR(n-1) #inductive case should have a call to the function

number = int(input("postive value"))
factR(number)

In [ ]:
#Without recursion
def fact(n):
  p = 1
  while n >=1:
    p=p*n
    n=n-1
  return p